body {
    overflow-x: hidden;
}
header {
    padding: 66px 0 72px 0;
    background-image: linear-gradient(to top, #4ebefe, #378fd9);
}
header .header_wrapper {
    display: flex;
    justify-content:space-between;
    align-items: space-between;
}
header .header_offer .header_subtitle {
    font-family: 'Ubuntu';
    margin-top: 147px;
    width: 555px;

    font-size: 37px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: 0.74px;
    text-align: left;
    color: #ffffff;
}
header .header_subtitle span {
    font-size: 59px;
    line-height: 1.24;
    letter-spacing: 1.18px;
}
header .header_descr {
    font-family: 'OpenSans';
    margin-top: 47px;
    width: 397px;

    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.32px;
    text-align: left;
    color: #ffffff;
}
header .header_btn {
    font-family: 'Montserrat';
    border: none;
    margin-top: 45px;
    width: 222px;
    height: 56px;
    background-color: #ffd429;
    font-size: 15px;
    font-weight: 900;
    color: #2e2a1b;
    text-align:center;
}
.wait {
    padding: 108px 0 121px 0;

}
.wait .wait_wrapper {

    margin-top: 73px;
    display: flex;
}

.wait .wait_title {
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #201b2d;
}
.wait .wait_wrapper .wait_item {
    text-align: center;
}
.wait .wait_wrapper .wait_item .wait_subtitle {
    font-family: 'Ubuntu';
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.38px;
    text-align: left;
    color: #201b2d;
    margin-top: 31px;
    text-align: center;
}
.wait .wait_wrapper .wait_item .wait_descr {
    font-family: 'Ubuntu';
    font-weight: 400;
    margin-top: 18px;
    font-size: 15px;
    line-height: 1.47;
    text-align: center;
    color: #201b2d;
}
.ticket .ticket_form {
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 700;
    line-height: 0.83;
    text-align: center;
    color: #201b2d;
}
.ticket {
    background-color: #ecf3f8;
    min-height: 599px;
    padding: 104px 0 102px 0;
}
.ticket .ticket_forms {
    margin-top: 42px;
    text-align: center;
}
ul {
    list-style-type:none;
    list-style-position:outside;
}
.ticket .ticket_forms .ticket_btn {
    font-family: 'Montserrat';
    margin-top: 14px;
    width: 343px;
    height: 56px;
    background-color: #ffd429;
    text-align: center;
    color: #2e2a1b;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    color: #2e2a1b;
    padding-top: 15px;
}
.input {
    border-radius: 3px;
    border: solid 1px #bbbbbb;
    height: 48px;
    width: 343px;
    margin-top: 15px;
}
footer {

    padding: 62px 0 66px 0;
    background-color: #164d7a;
    text-align: center;
}
footer p {
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}
 @media screen and (max-width:1200px) {
    .container {
        width: 960px;
    }
    .header_dream {
       height: 455px;
       width: 455px;
    }

}
@media screen and (max-width:992px) {
    .container {
        width: 720px;
    }   
    .header_wrapper {
        flex-direction: column;
    }
    .header_dream {
        display: block;
        width: 100%;
        height: 100%;
        margin: 72px auto 0;
    }
    .wait .wait_wrapper {
        flex-direction: column;
    }
    .wait .wait_wrapper .wait_item {
        margin-bottom: 20px; 
    }
    .wait {
        padding: 108px 0 101px 0;
    }
}
@media screen and (max-width:768px) {
    .container {
        width: 540px;
    }  
}
@media screen and (max-width:576px) {
    .container {
        width: 90%
    }  
    .header_wrapper .header_offer .header_subtitle {
        width: 100%;
    }
    .header_wrapper .header_offer .header_descr {
        width: 100%;
    }
    .ticket input {
        width: 100%;
    }
    .ticket .ticket_forms .ticket_btn {
        width: 100%;
    }
} 
.red {
    color: red;
}
.animated {
    opacity: 0;
}



